<template>
    <form action="">
        <div class="col-xs-12">
            <h4>Domain</h4>
        </div>
        <!--Label: Custom Domain, Attributes: domain-->
        <div class="form-group">
            <div>
                <input type="text" class="form-control" name="domain"
                       id="domain" placeholder="www.yourdomain.com"
                       :class="{ 'is-invalid' : errors.domain }" autocomplete="off"
                       v-model="domain"
                >
                <div class="invalid-feedback" v-if="errors.domain">
                    {{ errors.domain.toString() }}
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h4>Logos & Branding</h4>
        </div>
        <!--Label: Logo, Attributes: logo-->
        <div class="form-group">
            <div>
                <input type="file" class="form-control" id="logo"
                       @change="logo"
                       name="logo"
                       :class="{ 'is-invalid' : errors.logo }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.logo">
                    <strong>{{ errors.logo.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h4>Watermark</h4>
        </div>
        <!--Label: Watermark, Attributes: watermark-->
        <div class="form-group">
            <div>
                <input type="file" class="form-control" id="watermark"
                       @change="watermark"
                       ref="water"
                       name="watermark"
                       :class="{ 'is-invalid' : errors.watermark }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.watermark">
                    <strong>{{ errors.watermark.toString() }}</strong>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "settingsindex",
        data() {
            return {
                errors: '',
                domain: '',
                logo: '',
                watermark: ''

            }
        },
        methods: {
            logo() {

            },
            watermark() {
// this.$refs.
            }
        },
    }
</script>

<style scoped>

</style>
