.tparrows.preview1:hover::after {
	color: #fff;
    background: #111;
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
    color: #fff;
}
.slide-big-heading{
	font-size: 3.4rem;
	line-height:normal;
	font-weight: 800;
	text-align: center;
}
.slide-sub-heading{
	font-size: 2.8rem;
	line-height:normal;
	font-weight: 600;
	text-align: center;
}
.btn-slider { 
	display: block;
	position:relative;
	float:left;
	width: 100%;
	max-width: 174px;
	height: auto;
	padding: 8px 35px;
	font-size: .83rem;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	letter-spacing:1px;
	color: #fff;
	background: #111;
	border: 2px solid #111;
	border-radius: 40px;
	outline: none;
	text-shadow: none;
	margin: 15px auto;
	cursor: pointer;
	overflow: hidden;
	z-index: 9;
	-ms-transform: scale(1, 1);
    transform: scale(1, 1);
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.btn-slider a{
	color: #fff;
}
.btn-slider:hover { 
	color: #fff;
	background: #333;
	border: 2px solid #333;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease; 
}
.btn-slider:hover .shine{
	-webkit-animation: sheen .6s alternate;
	animation: sheen .6s alternate;
} 
.btn-slider:hover a{ 
	color:#fff;
}
@media only screen and (max-width: 1024px) {
	.slide-big-heading{
	 font-size: 31pt;
	}
	.slide-sub-heading{
	 font-size: 17pt;
	}
	.btn-slider { 
	font-size: 13px;
    }
    .btn-slider:hover { 
	border: 2px solid rgba(255, 255, 255, 0);
    }
}
@media only screen and (max-width: 800px) {
	.slide-big-heading{
	 font-size: 38pt;
	}
	.slide-sub-heading{
	 font-size: 26pt;
	}
}