<template>
    <form>
        <!--Label: Give your Collection a name, Attributes: name-->
        <div class="form-group  ">
            <label for="name">Give your Collection a name</label>
            <div>
                <input type="text" class="form-control" name="name"
                       id="name" placeholder="e.g Jessie & Ryan" autofocus
                       :class="{ 'is-invalid' : errors.name }" autocomplete="off"
                       v-model="name"
                >
                <div class="invalid-feedback" v-if="errors.name">
                    {{ errors.name.toString() }}
                </div>
            </div>
        </div>
        <!--Label: What is the date of the event?, Attributes: eventdate-->
        <div class="form-group  ">
            <label for="eventdate">What is the date of the event?</label>
            <div>
                <input type="text" class="form-control" name="eventdate"
                       id="eventdate" placeholder="Pick a Date"
                       :class="{ 'is-invalid' : errors.eventdate }" autocomplete="off"
                       v-model="eventdate"
                >
                <div class="invalid-feedback" v-if="errors.eventdate">
                    {{ errors.eventdate.toString() }}
                </div>
            </div>
        </div>
        <div class="row form-row buttons">
            <div class="col-sm-12 hidden-xs">
                <a @click="advanced = !advanced" href="#">
                    <i class="fa fa-cog"></i>
                    Advanced options
                    <i class="fa fa-caret-right"></i>
                </a>
            </div>

        </div>
        <div v-if="advanced">
            <!--Label: Auto Expirty, Attributes: autoexpiry-->
            <div class="form-group ">
                <label for="autoexpiry" class=" col-form-label">Auto Expirty</label>
                <div class="">
                    <input type="text" class="form-control" id="autoexpiry"
                           v-model="autoexpiry"
                           name="autoexpiry"
                           :class="{ 'is-invalid' : errors.autoexpiry }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.autoexpiry">
                        <strong>{{ errors.autoexpiry.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 pull-right">
            <!--<a href="">Cancel</a>-->
            <button type="button" class=" btn btn-primary" @click.prevent="saveCollection">
                Save changes
                <i :class="{'fa fa-spin fa-spinner' : savingCollection}"></i>
            </button>

        </div>
    </form>
</template>

<script>
    import Pikaday from 'pikaday';

    export default {
        name: "create",
        data() {
            return {
                errors: '',
                name: '',
                eventdate: '',
                savingCollection: false,
                advanced: false,
            }
        },

        methods: {
            saveCollection() {
                this.savingCollection = true;
                axios.post('/collection', this.$data).then(resp => {
                    this.savingCollection = false;
                    this.errors = '';
                    this.name = '';
                    this.eventdate = '';
                    // console.log(resp.data);
                    Bus.$emit('createdCollection', resp.data);
                }).catch(err => {
                    this.savingCollection = false;
                    this.errors = err.response.data.errors;
                });
            }
        },

        mounted() {
            var picker = new Pikaday({
                field: document.getElementById('eventdate'),
                format: 'YYYY-M-DD',
                onSelect: () => {
                    this.eventdate = picker.toString();
                }
            });
        }

    }
</script>

<style scoped>
    @import '~pikaday/css/pikaday.css';
</style>
