<template>
    <div>
        <form action="">

            <!--Label: Email, Attributes: email-->
            <div class="form-group ">
                <label for="email" class=" col-form-label">Email</label>
                <div>
                    <input type="text" class="form-control" id="email"
                           v-model="email"
                           name="email"
                           required
                           placeholder="e.g client@email.com,other@gmail.com"
                           :class="{ 'is-invalid' : errors.email }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.email">
                        <strong>{{ errors.email.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Subject, Attributes: subject-->
            <div class="form-group ">
                <label for="subject" class=" col-form-label">Subject</label>
                <div>
                    <input type="text" class="form-control" id="subject"
                           name="subject"
                           v-model="subjectLine"
                           :class="{ 'is-invalid' : errors.subject }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.subject">
                        <strong>{{ errors.subject.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Message, Attributes: message-->
            <div class="form-group ">
                <label for="message" class=" col-form-label">Message</label>
                <div>
                    <textarea type="text" class="form-control" id="message" rows="15"
                              v-model="message"
                              name="message"
                              placeholder="Optional Message"
                              :class="{ 'is-invalid' : errors.message }" autocomplete="off">
                    </textarea>
                    <div class="invalid-feedback" v-if="errors.message">
                        <strong>{{ errors.message.toString() }}</strong>
                    </div>
                </div>
            </div>
            <div class="row mt-5 pull-right">
                <!--<a href="">Cancel</a>-->
                <button type="button" class=" btn btn-primary" @click.prevent="sendinvite" :disabled="savingCollection">
                    Send Invite
                    <i :class="{'fa fa-spin fa-spinner' : savingCollection}"></i>
                </button>

            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "sejdcollection",
        props: {
            collection: {},
        },
        data() {
            return {
                errors: '',
                email: '',
                subject: '',
                message: '',
                subjectLine: this.collection.name ? `Photos for ${this.collection.name} are ready!` : '',
                savingCollection: false
            }
        },
        mounted() {
        },
        methods: {
            sendinvite() {
                this.savingCollection = true;
                axios.post('/sendinvite', this.$data).then(resp=>{
                    this.savingCollection = false;
                    this.email ='';
                    this.subject ='';
                    this.message ='';
                    this.subjectLine ='';
                }).catch(err=>{
                    this.savingCollection = false;
                });
            }
        },
    }
</script>

<style scoped>

</style>
